.form_time{
    padding: 0 36px;
    p{
        color: #000;
    }
    .ion-datetime-item {
        --background: rgb(255, 255, 255);
        width: 100%;
        --border-width: 1px;
        --border-radius: 6px;
        --border-color: #b1b1b1;
        margin-bottom: 16px;
        
        ion-datetime{
            --placeholder-color: #000;
            --placeholder-opacity: 1;
            color: #000;
        }
    }
    ::ng-deep.picker-wrapper.sc-ion-picker-md{
        --background: #fff;
        color: #000;
        border-style: none;
    }
    .datetime-text{
        color: #000;
    }
    
}
::ng-deep.picker-wrapper.sc-ion-picker-md{
    --background: #fff;
    color: #000;
    border-style: none !important;
    .picker-button.sc-ion-picker-md, .picker-prefix, .picker-suffix, .picker-opt.picker-opt-selected {
        color:  #f48f8d;
    }
}
