
:host(app-form-popup){
    --ion-toolbar-background: #fff !important;
    --background: #fff;
    --ion-background-color: #fff;
    .header-md::after {
        position: initial  !important;
    }
    .close-button { 
            // button{
                background: none;
            // }
    }
    .ion-text-inline{
        display: inline-block;
    }
    .header-ios ion-toolbar:last-of-type {
        --border-width: 0;
    }
    .button-native{
        border: 0;
        box-shadow: none;
    }
}
::ng-deep.form-popup-page-css{
    // top: 10%;
    border-radius: 10px;
    box-shadow: 0px -100px 12px rgb(0 0 0 / 20%);
    @media (max-width: 768px) { 
        top: 10%;
    }
    .new-background-color{
        --background: #fff !important;
    }
    ion-header{
        ion-title{
            color: black;
        }
        ion-button{
            color: black;
            .button-native{
                border: 0 !important;
                box-shadow: none !important;
            }
        }
    }
    
} 
hr {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 36px;
    }