<div class="form_amount">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <p>預約人數</p>
      </ion-col>
      <ion-col size="6">
        <ion-item>

          <!--Basic: auto-select the icon based on the platform -->
          <ion-button><ion-icon name="add-circle-outline" style="color: #fff;"></ion-icon></ion-button>
        
          <!-- Advanced: explicity set the icon for each platform -->
            <!-- <div class="icon-inner">
              <svg xmlns="http://www.w3.org/2000/svg" class="ionicon s-ion-icon" viewBox="0 0 512 512">
                <title>Add Circle</title>
                <path d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192 192-86 192-192z" stroke-miterlimit="10" class="ionicon-fill-none ionicon-stroke-width"></path>
                <path stroke-linecap="round" stroke-linejoin="round" d="M256 176v160M336 256H176" class="ionicon-fill-none ionicon-stroke-width"></path></svg></div>
           </ion-icon> -->
          
            <ion-input 
            placeholder="1" 
            type="number"></ion-input>
            <ion-button><ion-icon name="remove-circle-outline"></ion-icon></ion-button>
          </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
   
</div>
