.form_buttons{
    padding: 0 26PX;
    ion-button{
        width: 100%;
        --background: #f48f8d;
        --border-radius: 18px;
        --box-shadow: none;
        padding: 0;
        margin: 0;
    }
    ion-grid{
        padding-top: 0px;
        padding-bottom: 0px;
    }


}